<form action="/editstudent/{{student.id_student}}" method="POST">
    <input type="text" name="name" placeholder="name" value="{{student.name}}">
    <input type="text" name="surname" placeholder="surname" value="{{student.surname}}">
    <input type="text" name="dni" placeholder="dni" value="{{student.dni}}">
    <input type="text" name="address" placeholder="address" value="{{student.address}}"> 
    <input type="text" name="address_n" placeholder="N address" value="{{student.address_n}}">
    <input type="text" name="email" placeholder="email" value="{{student.email}}">
    <input type="text" name="phone" placeholder="phone" value="{{student.phone}}"">

    <button>Update</button>